<!DOCTYPE html>
<html>
<head>
	<title>Tic-Tac-Toe</title>
	<link rel="stylesheet" type="text/css" href="app.css">
    <link href="https://fonts.googleapis.com/css?family=Kalam:400,700" rel="stylesheet">
</head>
<body>
	<h1>Welcome to Tic-Tac-Toe</h1>
    <form action="/game" method="post">
        <input type=text placeholder="First player name" name="player1Name" required>
        <input type=text placeholder="Second player name" name="player2Name" required>
        <button type="submit">Let's play!</button>
    </form>
    <a href="/users">Manage users</a>
</body>
</html>